<header class="flex flex-wrap justify-center py-3 border-b border-newBlue">
    <a class="flex items-center mr-auto text-dark no-underline" href="./index.html">
      <img src="./assets/images/logofestival.png" alt="" width="30" height="24">
      <span class="fs-4">MARTDAZ</span>
    </a>

    <ul class="navi">
      <li><a class="navi-link" href="./index.html">Bandas</a></li>
      <li><a class="navi-link" href="./informacion.html">Información general</a></li>
      <li><a class="navi-link" href=""><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
</header>